Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

markdownlint:
  name: markdownlint
  entry: python scripts/conditional_hook.py markdownlint-cli2
  args:
  - --fix
  language: system
  require_serial: true
  verbose: true

hatch-mypy:
  name: hatch mypy check
  entry: hatch run mypy:check
  language: system
  pass_filenames: false

mergify-lint:
  name: mergify lint
  entry: hatch run lint:mergify
  language: system
  pass_filenames: false

ci: add CodeQL static analysis workflow
  .github/workflows/codeql.yaml
Due: none

fix(build_environment): re-raise exception in get_distributions() on JSON parse failure
  src/fromager/build_environment.py
  tests/test_build_environment.py
Due: hatch-mypy

[proposal] New patcher config
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-patcher-config.md
Due: markdownlint

fix: use proper URL parsing for GitHub API domain
  src/fromager/http_retry.py
Due: hatch-mypy

feat(graph): add suggest-collection command for collection optimization
  src/fromager/commands/graph.py
  src/fromager/dependency_graph.py
  tests/test_suggest_collection.py
Due: hatch-mypy

docs(agents): make CONTRIBUTING.md a required read before writing code
  AGENTS.md
Due: markdownlint

test(sbom): add SPDX 2.3 schema validation with spdx-tools
  pyproject.toml
  tests/test_sbom.py
Due: hatch-mypy

feat(test): add hatch scripts and docs for coverage reports
  .gitignore
  docs/develop.md
  pyproject.toml
Due: markdownlint

feat(bootstrap): add --multiple-versions flag to bootstrap all matching versions
  e2e/ci_bootstrap_suite.sh
  e2e/test_bootstrap_multiple_versions.sh
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/lint_requirements.py
  src/fromager/dependency_graph.py
  tests/test_bootstrap_requirement_resolver.py
  tests/test_bootstrap_requirement_resolver_multiple.py
  tests/test_bootstrap_test_mode.py
  tests/test_bootstrapper.py
Due: hatch-mypy

feat: Configuration for new patch settings
  src/fromager/packagesettings/_patch.py
  src/fromager/packagesettings/_typedefs.py
  tests/test_patchsettings.py
Due: hatch-mypy

feat(packagesettings): add dependency-chained build tags
  docs/how-tos/dependency-build-tags.rst
  docs/how-tos/index.rst
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  tests/test_packagesettings.py
  tests/testdata/context/overrides/settings/test_circular_a.yaml
  tests/testdata/context/overrides/settings/test_circular_b.yaml
  tests/testdata/context/overrides/settings/test_dep_chain_a.yaml
  tests/testdata/context/overrides/settings/test_dep_chain_b.yaml
  tests/testdata/context/overrides/settings/test_dep_chain_c.yaml
  tests/testdata/context/overrides/settings/test_fake_cuda.yaml
Due: hatch-mypy

feat: source resolver configuration
  docs/reference/config-reference.rst
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  src/fromager/packagesettings/_resolver.py
  tests/test_packagesettings.py
  tests/testdata/context/overrides/settings/test_github-download.yaml
  tests/testdata/context/overrides/settings/test_github-git.yaml
  tests/testdata/context/overrides/settings/test_gitlab-download.yaml
  tests/testdata/context/overrides/settings/test_gitlab-git.yaml
  tests/testdata/context/overrides/settings/test_pypidownload.yaml
  tests/testdata/context/overrides/settings/test_pypigit.yaml
  tests/testdata/context/overrides/settings/test_pypiprebuilt.yaml
  tests/testdata/context/overrides/settings/test_pypisdist.yaml
Due: hatch-mypy

mergify: add auto-rebase and conflict notification rules
  .mergify.yml
Due: mergify-lint

test(hooks): add coverage for hook plugin system
  tests/test_hooks.py
Due: hatch-mypy

fix(bootstrap): don't call get_resolver_provider hook in cache lookups
  src/fromager/bootstrapper.py
  tests/test_bootstrapper.py
Due: hatch-mypy

mergify: switch from rebase to update action
  .mergify.yml
Due: mergify-lint

docs: Add version-removed for resolve_source
  docs/reference/hooks.rst
Due: none

fix(bootstrap): auto-disable constraints and extend e2e test coverage
  e2e/test_bootstrap_multiple_versions.sh
  src/fromager/commands/bootstrap.py
  tests/test_bootstrap.py
Due: hatch-mypy

[proposal] New resolver configuration
  docs/proposals/index.rst
  docs/proposals/new-resolver-config.md
  docs/spelling_wordlist.txt
Due: markdownlint

feat(resolver): add release-age cooldown to protect against supply-chain attacks
  docs/how-tos/index.rst
  docs/how-tos/release-age-cooldown.rst
  e2e/ci_bootstrap_suite.sh
  e2e/cooldown_override_settings/stevedore.yaml
  e2e/github_override_example/pyproject.toml
  e2e/github_override_example/src/package_plugins/__init__.py
  e2e/github_override_example/src/package_plugins/stevedore_github.py
  e2e/gitlab_override_example/pyproject.toml
  e2e/gitlab_override_example/src/package_plugins/__init__.py
  e2e/gitlab_override_example/src/package_plugins/python_gitlab.py
  e2e/test_bootstrap_cooldown.sh
  e2e/test_bootstrap_cooldown_github.sh
  e2e/test_bootstrap_cooldown_gitlab.sh
  e2e/test_bootstrap_cooldown_override.sh
  e2e/test_bootstrap_cooldown_transitive.sh
  pyproject.toml
  src/fromager/__main__.py
  src/fromager/context.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  src/fromager/resolver.py
  tests/test_bootstrap_requirement_resolver.py
  tests/test_cooldown.py
  tests/test_packagesettings.py
Due: hatch-mypy

fix: apply cooldown in resolve() so plugins inherit it automatically
  docs/how-tos/release-age-cooldown.rst
  e2e/github_override_example/src/package_plugins/stevedore_github.py
  e2e/gitlab_override_example/src/package_plugins/python_gitlab.py
  src/fromager/resolver.py
  src/fromager/sources.py
  tests/test_cooldown.py
Due: hatch-mypy

[proposal] Multiple cache wheel servers
  docs/proposals/index.rst
  docs/proposals/multiple-cache-wheel-servers.md
  docs/spelling_wordlist.txt
Due: markdownlint

docs(proposal): add release cooldown design for version resolution
  docs/proposals/index.rst
  docs/proposals/release-cooldown.md
Due: markdownlint

docs: add docstrings and comments to complex functions
  src/fromager/bootstrapper.py
  src/fromager/dependencies.py
  src/fromager/dependency_graph.py
  src/fromager/external_commands.py
  src/fromager/finders.py
  src/fromager/pyproject.py
  src/fromager/requirements_file.py
  src/fromager/resolver.py
  src/fromager/sources.py
  src/fromager/vendor_rust.py
  src/fromager/wheels.py
Due: hatch-mypy

fix(bootstrapper): log specific error types in wheel cache lookup
  src/fromager/bootstrapper.py
  tests/test_bootstrapper.py
Due: hatch-mypy

fix(resolver): make resolver cache thread-safe with per-identifier locking
  src/fromager/resolver.py
  tests/test_resolver.py
Due: hatch-mypy

[proposal] wheel_build_tag hook for unique wheel file names
  docs/proposals/index.rst
  docs/proposals/wheel-build-tag-hook.md
  docs/spelling_wordlist.txt
Due: markdownlint

fix(mergify): remove auto-update rule that adds merge commits
  .mergify.yml
Due: mergify-lint

feat(sbom): build purls with packageurl-python and add upstream source identification
  docs/reference/config-reference.rst
  pyproject.toml
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  src/fromager/sbom.py
  tests/conftest.py
  tests/test_sbom.py
  tests/testdata/sbom-context/overrides/settings.yaml
  tests/testdata/sbom-context/overrides/settings/test_purl_fields.yaml
Due: hatch-mypy

test(e2e): add test-mode failure handling tests
  e2e/ci_bootstrap_suite.sh
  e2e/test_build_failure/pyproject.toml
  e2e/test_build_failure/setup.py
  e2e/test_build_failure/test_build_failure/__init__.py
  e2e/test_mode_build.sh
  e2e/test_mode_deps.sh
  e2e/test_mode_fallback.sh
  e2e/test_mode_resolution.sh
Due: hatch-mypy

feat(build): add FROMAGER_SCRUB_ENV_VARS for env variable scrubbing
  src/fromager/external_commands.py
Due: hatch-mypy

feat(build): add --build-isolation flag for sandboxed builds
  src/fromager/__main__.py
  src/fromager/build_environment.py
  src/fromager/context.py
  src/fromager/dependencies.py
  src/fromager/external_commands.py
  src/fromager/run_build_isolation.sh
Due: hatch-mypy

test(e2): add bootstrap --test-mode failure tests
  e2e/ci_bootstrap_suite.sh
  e2e/test_build_failure/pyproject.toml
  e2e/test_build_failure/setup.py
  e2e/test_build_failure/test_build_failure/__init__.py
  e2e/test_mode_build.sh
  e2e/test_mode_deps.sh
  e2e/test_mode_fallback.sh
  e2e/test_mode_resolution.sh
Due: hatch-mypy

test(context): add coverage for WorkContext
  tests/test_context.py
Due: hatch-mypy

feat(resolver): add release-age cooldown to protect against supply-chain attacks
  docs/how-tos/index.rst
  docs/how-tos/release-age-cooldown.rst
  e2e/ci_bootstrap_suite.sh
  e2e/cooldown_override_settings/stevedore.yaml
  e2e/github_override_example/pyproject.toml
  e2e/github_override_example/src/package_plugins/__init__.py
  e2e/github_override_example/src/package_plugins/stevedore_github.py
  e2e/gitlab_override_example/pyproject.toml
  e2e/gitlab_override_example/src/package_plugins/__init__.py
  e2e/gitlab_override_example/src/package_plugins/python_gitlab.py
  e2e/test_bootstrap_cooldown.sh
  e2e/test_bootstrap_cooldown_github.sh
  e2e/test_bootstrap_cooldown_gitlab.sh
  e2e/test_bootstrap_cooldown_override.sh
  e2e/test_bootstrap_cooldown_transitive.sh
  pyproject.toml
  src/fromager/__main__.py
  src/fromager/context.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  src/fromager/resolver.py
  src/fromager/sources.py
  tests/test_bootstrap_requirement_resolver.py
  tests/test_cooldown.py
  tests/test_packagesettings.py
Due: hatch-mypy

fix(resolver): apply release-age cooldown to pre-built wheel resolution
  docs/how-tos/release-age-cooldown.rst
  e2e/ci_bootstrap_suite.sh
  e2e/cooldown_prebuilt_settings/stevedore.yaml
  e2e/test_bootstrap_cooldown_github.sh
  e2e/test_bootstrap_cooldown_prebuilt.sh
  src/fromager/packagesettings/_models.py
  src/fromager/resolver.py
  src/fromager/sources.py
  src/fromager/wheels.py
  tests/test_cooldown.py
Due: hatch-mypy

docs: fix spelling issues and update word list
  docs/proposals/release-cooldown.md
  docs/spelling_wordlist.txt
Due: markdownlint

fix(sources): skip broken symlinks in scan_compiled_extensions (#1082)
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  hatch-mypy: any of: \.py$
  mergify-lint: any of: ^\.mergify\.yml$
