Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/mgedmin/check-python-versions
    rev: "0.24.0"
    hooks:
      - id: check-python-versions
        args: ["--only", "pyproject.toml,.github/workflows/test.yaml"]

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.2.1
    hooks:
      - id: editorconfig-checker
        alias: ec
        # Exclude files that are auto-generated or strictly formatted elsewhere
        exclude: |
          (?x)^(
              LICENSE|
              .*\.lock|
              dist/.*
          )$

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: python scripts/conditional_hook.py markdownlint-cli2
        args: ["--fix"]
        language: system
        types: [markdown]
        require_serial: true
        verbose: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      # Linter runs before formatter so fixes (like removing imports) get formatted
      - id: ruff-check
        args: [--fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: local
    hooks:
      - id: hatch-mypy
        name: hatch mypy check
        entry: hatch run mypy:check
        language: system
        types: [python]
        pass_filenames: false

      - id: mergify-lint
        name: mergify lint
        entry: hatch run lint:mergify
        language: system
        files: ^\.mergify\.yml$
        pass_filenames: false

fix: skip tests and CodeQL for doc-only changes
  .github/workflows/codeql.yaml
  .github/workflows/test.yaml
Due: none

feat(cache): add unified CacheManager with prioritized multi-backend lookup
  pyproject.toml
  src/fromager/bootstrapper/_build.py
  src/fromager/bootstrapper/_cache.py
  src/fromager/bootstrapper/_prepare_source.py
  src/fromager/cache.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/cache_cmd.py
  src/fromager/context.py
  src/fromager/requirements_file.py
  src/fromager/server.py
  tests/test_bootstrapper.py
  tests/test_bootstrapper_iterative.py
  tests/test_cache.py
  tests/test_cli.py
  tests/test_commands.py
  tests/test_server.py
Due: hatch-mypy

test(bootstrapper): fix caplog assertion that depends on global pytest --log-level
  pyproject.toml
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

test(constraints): mock `markers.default_environment` instead of `platform.machine`
  tests/test_constraints.py
Due: hatch-mypy

docs(proposals): add unified CacheManager design proposal
  docs/proposals/unified-cache-manager.rst
Due: none

fix(resolver): constrained packages bypass max-release-age filtering
  e2e/ci_bootstrap_suite.sh
  e2e/test_bootstrap_age_constraint_bypass.sh
  src/fromager/resolver.py
  tests/test_cooldown.py
Due: hatch-mypy

feat(resolver): add AgeFallback.NEWEST for multi-version age filter
  e2e/ci_bootstrap_suite.sh
  e2e/test_bootstrap_age_constraint_bypass.sh
  e2e/test_bootstrap_age_fallback_newest.sh
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/resolver.py
  tests/test_bootstrap_requirement_resolver.py
  tests/test_cooldown.py
Due: hatch-mypy

fix(build): set CARGO_TARGET_DIR per package to prevent parallel build collisions
  src/fromager/vendor_rust.py
  src/fromager/wheels.py
  tests/test_vendor_rust.py
  tests/test_wheels.py
Due: hatch-mypy

ci: add workflow to auto-sync feature branch with main
  .github/workflows/sync-feature-branch.yaml
Due: none

Revert "fix(build): set CARGO_TARGET_DIR per package to prevent parallel build collisions"
  src/fromager/vendor_rust.py
  src/fromager/wheels.py
  tests/test_vendor_rust.py
  tests/test_wheels.py
Due: hatch-mypy

docs(proposals): rewrite to settings-driven callable approach
  docs/proposals/global-build-system-dependencies-hook.md
Due: markdownlint

feat: add settings-driven build_system_dependencies_hook
  src/fromager/dependencies.py
  src/fromager/packagesettings/_settings.py
  tests/test_dependencies.py
Due: hatch-mypy

feat(packagesettings): activate `source` field and add `source_resolver` PBI property
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  tests/test_packagesettings.py
Due: hatch-mypy

feat(constraints): add per-constraint provenance tracking
  src/fromager/constraints.py
  src/fromager/resolver.py
  tests/test_constraints.py
  tests/test_context.py
  tests/test_resolver.py
Due: hatch-mypy

feat(wheels): add configurable build tag hook for wheel filenames
  src/fromager/bootstrapper/_cache.py
  src/fromager/commands/build.py
  src/fromager/finders.py
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_settings.py
  src/fromager/wheels.py
  tests/test_finders.py
  tests/test_packagesettings.py
  tests/test_wheels.py
Due: hatch-mypy

feat(packagesettings): error when `source` and legacy settings are both set
  src/fromager/packagesettings/_models.py
  tests/test_packagesettings.py
Due: hatch-mypy

feat(sbom): merge Maturin components into wheel SBOM
  docs/reference/files.md
  src/fromager/sbom.py
  src/fromager/wheels.py
  tests/test_sbom.py
  tests/test_wheels.py
Due: markdownlint, hatch-mypy

feat(resolver): dispatch configured source resolvers
  docs/concepts/resolver-architecture.rst
  src/fromager/packagesettings/_resolver.py
  src/fromager/sources.py
  tests/test_bootstrap_requirement_resolver.py
  tests/test_sources.py
Due: hatch-mypy

fix(cooldown): apply global cooldown and pin exemption to source resolvers
  src/fromager/resolver.py
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

fix(resolver): delegate hook source providers
  docs/concepts/resolver-architecture.rst
  docs/reference/hooks.rst
  src/fromager/packagesettings/_resolver.py
  src/fromager/sources.py
  tests/test_packagesettings_resolver.py
  tests/test_sources.py
Due: hatch-mypy

fix(sources): normalize sdist filenames per PEP 625
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

fix(dependencies): sort requirements files
  src/fromager/dependencies.py
  tests/test_dependencies.py
Due: hatch-mypy

docs: document WheelSettings in config reference
  docs/reference/config-reference.rst
Due: none

docs: add build_tag_hook configuration guide
  docs/customization.md
Due: markdownlint

docs: fix build_tag_hook example to be platform-agnostic
  docs/customization.md
Due: markdownlint

fix(sources): break long line to meet 88-character limit
  src/fromager/sources.py
Due: hatch-mypy

fix(resolver): warn when a version is skipped due to missing sdist
  src/fromager/resolver.py
  tests/test_resolver.py
Due: hatch-mypy

fix(bootstrap): warm the resolver cache before adding top-level nodes
  src/fromager/bootstrapper/_bootstrapper.py
  tests/test_bootstrapper.py
Due: hatch-mypy

docs: clarify build_tag_hook produces deterministic, configuration-specific suffixes
  docs/customization.md
Due: markdownlint

docs: remove trailing whitespace from build_tag_hook docstring
  docs/customization.md
Due: markdownlint

fix(sources): use correct top-level directory name in sdists
  src/fromager/sources.py
  src/fromager/tarballs.py
  tests/test_sources.py
  tests/test_tarballs.py
Due: hatch-mypy

test: delete existing tarfile before creating new one in monorepo test
  tests/test_sources.py
Due: hatch-mypy

fix(bootstrap): forget seen-markers of cascade-removed dependencies
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/dependency_graph.py
  tests/test_bootstrapper_iterative.py
  tests/test_dependency_graph.py
Due: hatch-mypy

feat(sources): dispatch downloads through configured resolvers
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/bootstrapper/_prepare_source.py
  src/fromager/commands/build.py
  src/fromager/commands/step.py
  src/fromager/sources.py
  tests/test_bootstrapper.py
  tests/test_commands.py
  tests/test_sources.py
Due: hatch-mypy

fix(tests): use .test TLD instead of example.com in bootstrapper test
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

feat(sources): return DownloadKind from download_source()
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/bootstrapper/_prepare_source.py
  src/fromager/commands/build.py
  src/fromager/commands/step.py
  src/fromager/sources.py
  tests/test_bootstrapper.py
  tests/test_commands.py
  tests/test_sources.py
Due: hatch-mypy

build(packaging): modernize metadata, adopt PEP 735 dependency groups
  .github/workflows/check.yaml
  .github/workflows/python-publish.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  pyproject.toml
Due: markdownlint
