Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

markdownlint:
  name: markdownlint
  entry: python scripts/conditional_hook.py markdownlint-cli2
  args:
  - --fix
  language: system
  require_serial: true
  verbose: true

hatch-mypy:
  name: hatch mypy check
  entry: hatch run mypy:check
  language: system
  pass_filenames: false

mergify-lint:
  name: mergify lint
  entry: hatch run lint:mergify
  language: system
  pass_filenames: false

build(lint): replace markdownlint with mdformat for Markdown linting
  .github/workflows/check.yaml
  .markdownlint.yaml
  .mdformat.toml
  .mergify.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/develop.md
  scripts/conditional_hook.py
Due: markdownlint, hatch-mypy, mergify-lint

style(docs): align Markdown formatting to mdformat linter
  CONTRIBUTING.md
  README.md
  docs/files.md
  docs/http-retry.md
  docs/using.md
Due: markdownlint

style(e2e): apply ruff formatting fixes
  e2e/flit_core_override/src/package_plugins/flit_core.py
  e2e/fromager_hooks/src/package_plugins/hooks.py
  e2e/mergify_lint.py
  e2e/setup_coverage.py
  e2e/stevedore_override/src/package_plugins/stevedore.py
Due: hatch-mypy

chore: add `.git-blame-ignore-revs` to exclude formatting commits from blame
  .git-blame-ignore-revs
Due: none

fix: Tests were broken by wheel>=0.46.2 release
  tests/test_wheels.py
Due: hatch-mypy

feat: add 'fromage package resolve' subcommand
  pyproject.toml
  src/fromager/commands/find_updates.py
  src/fromager/commands/list_versions.py
  src/fromager/commands/package.py
  tests/test_cli.py
  tests/test_resolver.py
Due: hatch-mypy

Add benchmarks framework
  .github/workflows/benchmark-backfill.yml
  .github/workflows/benchmarks-integration.yml
  .github/workflows/benchmarks-nightly.yml
  .github/workflows/benchmarks.yml
  benchmarks/README.md
  benchmarks/conftest.py
  benchmarks/fixtures/__init__.py
  benchmarks/fixtures/pypi_server.py
  benchmarks/pytest.ini
  benchmarks/scripts/__init__.py
  benchmarks/scripts/extract_deps.py
  benchmarks/test_integration.py
  benchmarks/test_resolution.py
  pyproject.toml
Due: markdownlint, hatch-mypy

Replacing the Python email library parser with packaging.metadata
  pyproject.toml
  src/fromager/bootstrapper.py
  src/fromager/candidate.py
  src/fromager/dependencies.py
  tests/test_dependencies.py
  tests/test_pep658_support.py
Due: hatch-mypy

[Spike] Multiple version mode for bootstrap commands
  e2e/ci_bootstrap_suite.sh
  e2e/test_bootstrap_all_versions.sh
  src/fromager/bootstrapper.py
  src/fromager/commands/bootstrap.py
  src/fromager/resolver.py
  tests/test_bootstrapper.py
  tests/test_resolver.py
Due: hatch-mypy

AIPCC-10079: Allow overriding extract_info_from_wheel_file
  src/fromager/wheels.py
Due: hatch-mypy

Add benchmarks framework
  .github/workflows/benchmark-backfill.yml
  .github/workflows/benchmarks-integration.yml
  .github/workflows/benchmarks-nightly.yml
  .github/workflows/benchmarks.yml
  benchmarks/README.md
  benchmarks/conftest.py
  benchmarks/fixtures/__init__.py
  benchmarks/fixtures/pypi_server.py
  benchmarks/pytest.ini
  benchmarks/scripts/__init__.py
  benchmarks/scripts/extract_deps.py
  benchmarks/test_integration.py
  benchmarks/test_resolution.py
  e2e/flit_core_override/src/package_plugins/flit_core.py
  e2e/mergify_lint.py
  e2e/setup_coverage.py
  e2e/stevedore_override/src/package_plugins/stevedore.py
  pyproject.toml
Due: markdownlint, hatch-mypy

[Refactor]: Decompose Bootstrapper into separate classes
  src/fromager/bootstrapper.py
  src/fromager/resolution_manager.py
  tests/test_bootstrap.py
Due: hatch-mypy

fix(e2e): update pbr version to 7.0.3 in conflicting requirements test
  e2e/test_bootstrap_conflicting_requirements.sh
Due: none

fix(e2e): pin setuptools <75 in test_override.sh for pkg_resources compatibility
  e2e/test_override.sh
Due: none

fix(e2e): use 127.0.0.1 for local wheel server on macOS
  e2e/common.sh
Due: none

fix(e2e): bump pbr pin to 7.0.3 in conflicting requirements test
  e2e/test_bootstrap_conflicting_requirements.sh
Due: none

fix(e2e): wait for local wheel server to be ready before proceeding
  e2e/common.sh
Due: none

fix(e2e): bind wheel server to IPv4 explicitly on macOS
  e2e/common.sh
Due: none

feat: support maturin alternate src layout
  src/fromager/vendor_rust.py
Due: hatch-mypy

fix(e2e): preserve failing test output before next test cleanup
  .github/workflows/test.yaml
  e2e/ci_suite_framework.sh
Due: none

refactor(e2e): use fromager wheel-server instead of stdlib http.server
  e2e/common.sh
Due: none

feat: add alternative download methods to resolver API
  src/fromager/resolver.py
  tests/test_resolver.py
Due: hatch-mypy

refactor(bootstrap): extract resolution to RequirementResolver
  src/fromager/bootstrapper.py
  src/fromager/requirement_resolver.py
  tests/test_bootstrapper.py
  tests/test_requirement_resolver.py
Due: hatch-mypy

feat: source resolver configuration
  docs/config-reference.rst
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-resolver-config.md
  src/fromager/packagesettings.py
  tests/test_packagesettings.py
  tests/testdata/context/overrides/settings/test_github.yaml
  tests/testdata/context/overrides/settings/test_gitlab.yaml
  tests/testdata/context/overrides/settings/test_pypidownload.yaml
  tests/testdata/context/overrides/settings/test_pypigit.yaml
  tests/testdata/context/overrides/settings/test_pypiprebuilt.yaml
  tests/testdata/context/overrides/settings/test_pypisdist.yaml
Due: markdownlint, hatch-mypy

fix(ci): pin virtualenv<21 to fix hatch environment creation failure
  .github/workflows/check.yaml
  .github/workflows/test.yaml
Due: none

fix(ci): remove virtualenv<21 pin from CI workflows
  .github/workflows/check.yaml
  .github/workflows/test.yaml
Due: none

feat(graph): add subset command to extract package-related subgraphs
  src/fromager/commands/graph.py
  tests/test_commands_graph.py
Due: hatch-mypy

docs(graph): add documentation for graph subset command
  docs/how-tos/graph-commands/extracting-subsets.rst
  docs/how-tos/graph-commands/index.rst
Due: none

feat(settings): add YAML-driven configuration to reduce plugin needs
  docs/config-reference.rst
  docs/customization.md
  docs/how-tos/pyproject-overrides.rst
  src/fromager/packagesettings.py
  src/fromager/pyproject.py
  src/fromager/sources.py
  tests/test_packagesettings.py
  tests/test_pyproject.py
Due: markdownlint, hatch-mypy

test(settings): add comprehensive tests for YAML-driven features
  tests/test_packagesettings.py
  tests/test_pyproject.py
  tests/test_sources.py
Due: hatch-mypy

[proposal] New resolver configuration
  docs/conf.py
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-resolver-config.md
  docs/spelling_wordlist.txt
  pyproject.toml
Due: markdownlint, hatch-mypy

[proposal] New patcher config
  docs/conf.py
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-patcher-config.md
  docs/spelling_wordlist.txt
  pyproject.toml
Due: markdownlint, hatch-mypy

(refactor): Move caching from bootstrapper to resolver
  src/fromager/bootstrapper.py
  src/fromager/requirement_resolver.py
Due: hatch-mypy

refactor(graph): remove dead code in extract_package_subset
  src/fromager/commands/graph.py
Due: hatch-mypy

Add spell checker to Sphinx docs
  docs/conf.py
  docs/customization.md
  docs/files.md
  docs/getting-started.rst
  docs/how-tos/containers.rst
  docs/spelling_wordlist.txt
  pyproject.toml
  src/fromager/__main__.py
  src/fromager/commands/build_order.py
Due: markdownlint, hatch-mypy

feat: scan source distributions for compiled code
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

[proposal] New patcher config
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-patcher-config.md
Due: markdownlint

[proposal] New resolver configuration
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-resolver-config.md
Due: markdownlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  hatch-mypy: any of: \.py$
  mergify-lint: any of: ^\.mergify\.yml$
