Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

markdownlint:
  name: markdownlint
  entry: python scripts/conditional_hook.py markdownlint-cli2
  args:
  - --fix
  language: system
  require_serial: true
  verbose: true

hatch-mypy:
  name: hatch mypy check
  entry: hatch run mypy:check
  language: system
  pass_filenames: false

mergify-lint:
  name: mergify lint
  entry: hatch run lint:mergify
  language: system
  pass_filenames: false

Add spell checker to Sphinx docs
  docs/conf.py
  docs/customization.md
  docs/files.md
  docs/getting-started.rst
  docs/how-tos/containers.rst
  docs/spelling_wordlist.txt
  pyproject.toml
  src/fromager/__main__.py
  src/fromager/commands/build_order.py
Due: markdownlint, hatch-mypy

(refactor): RequirementsResolver should have only one method resolve()
  src/fromager/bootstrapper.py
  src/fromager/requirement_resolver.py
  tests/test_requirement_resolver.py
Due: hatch-mypy

refactor: pass version to more hooks
  src/fromager/bootstrapper.py
  src/fromager/build_environment.py
  src/fromager/commands/build.py
  src/fromager/commands/step.py
  src/fromager/dependencies.py
  src/fromager/packagesettings.py
  tests/test_dependencies.py
Due: hatch-mypy

fix(sources): use build_dir when vendouring Rust dependencies
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

Fix existing bug and add test coverage
  src/fromager/bootstrapper.py
  src/fromager/requirement_resolver.py
  tests/test_requirement_resolver.py
Due: hatch-mypy

build(lint): consolidate linters under pre-commit
  .github/workflows/check.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  AGENTS.md
  docs/develop.md
  pyproject.toml
  scripts/conditional_hook.py
Due: markdownlint, hatch-mypy

build(lint): replace markdownlint with mdformat for Markdown linting
  .github/workflows/check.yaml
  .markdownlint.yaml
  .mdformat.toml
  .mergify.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/develop.md
  scripts/conditional_hook.py
Due: markdownlint, hatch-mypy, mergify-lint

style(docs): align Markdown formatting to mdformat linter
  CONTRIBUTING.md
  README.md
  docs/files.md
  docs/http-retry.md
  docs/using.md
Due: markdownlint

style(e2e): apply ruff formatting fixes
  e2e/flit_core_override/src/package_plugins/flit_core.py
  e2e/fromager_hooks/src/package_plugins/hooks.py
  e2e/mergify_lint.py
  e2e/setup_coverage.py
  e2e/stevedore_override/src/package_plugins/stevedore.py
Due: hatch-mypy

chore: add `.git-blame-ignore-revs` to exclude formatting commits from blame
  .git-blame-ignore-revs
Due: none

fix(resolver): fall back to name-based graph lookup before PyPI
  src/fromager/requirement_resolver.py
  tests/test_requirement_resolver.py
Due: hatch-mypy

refactor(bootstrapper): replace _handle_test_mode_failure with force_prebuilt flag
  src/fromager/bootstrapper.py
  src/fromager/commands/bootstrap.py
  tests/test_bootstrap_test_mode.py
  tests/test_bootstrapper.py
Due: hatch-mypy

[proposal] New patcher config
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-patcher-config.md
Due: markdownlint

test(server): add coverage for wheel server
  tests/test_server.py
Due: hatch-mypy

cleanup: drop Python 3.11 support
  .github/workflows/check.yaml
  .github/workflows/python-publish.yaml
  .github/workflows/test.yaml
  .mergify.yml
  .readthedocs.yaml
  docs/example/Containerfile
  e2e/flit_core_override/pyproject.toml
  e2e/fromager_hooks/pyproject.toml
  e2e/stevedore_override/pyproject.toml
  pyproject.toml
Due: mergify-lint

refactor: use PEP 695 type keyword for type aliases
  src/fromager/commands/build.py
  src/fromager/resolver.py
Due: hatch-mypy

docs: update Python 3.11 references to 3.12
  CONTRIBUTING.md
  docs/example/Containerfile
  docs/quickstart.rst
Due: markdownlint

refactor: Split packagesettings module into a package
  src/fromager/packagesettings.py
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_hooks.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  src/fromager/packagesettings/_settings.py
  src/fromager/packagesettings/_templates.py
  src/fromager/packagesettings/_typedefs.py
  tests/test_packagesettings.py
Due: hatch-mypy

feat(sources): generate .git_archival.txt for setuptools-scm builds
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

feat(packagesettings): add ${__version__} template variable to env settings
  docs/customization.md
  e2e/ci_bootstrap_suite.sh
  e2e/stevedore_override/src/package_plugins/stevedore.py
  e2e/test_pep517_build_sdist.sh
  e2e/test_version_env_git_url.sh
  e2e/version_env_settings/stevedore.yaml
  e2e/version_env_settings_no_default/stevedore.yaml
  e2e/version_env_settings_with_default/stevedore.yaml
  src/fromager/packagesettings/_pbi.py
  tests/test_packagesettings.py
  tests/testdata/context/overrides/settings/test_pkg.yaml
Due: markdownlint, hatch-mypy

[proposal] New resolver configuration
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-resolver-config.md
Due: markdownlint

docs: create reference section and reorganize main index (Phase 1)
  docs/conf.py
  docs/customization.md
  docs/index.rst
  docs/quickstart.rst
  docs/reference/cli.rst
  docs/reference/config-reference.rst
  docs/reference/files.md
  docs/reference/glossary.rst
  docs/reference/hooks.rst
  docs/reference/index.rst
Due: markdownlint, hatch-mypy

docs: enhance how-to navigation with categories (Phase 3)
  docs/how-tos/index.rst
Due: none

docs: add cross-references for improved navigation (Phase 4)
  docs/concepts/index.rst
  docs/customization.md
  docs/getting-started.rst
  docs/quickstart.rst
  docs/using.md
Due: markdownlint

fix: use dashes for unordered lists in markdown (markdownlint)
  .pre-commit-config.yaml
  docs/customization.md
Due: markdownlint

feat: add 'fromage package resolve' subcommand
  pyproject.toml
  src/fromager/commands/find_updates.py
  src/fromager/commands/list_versions.py
  src/fromager/commands/package.py
  tests/test_cli.py
  tests/test_resolver.py
Due: hatch-mypy

feat: scan source distributions for compiled code
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

style(docs): align Markdown formatting to mdformat linter
  CONTRIBUTING.md
  README.md
  docs/http-retry.md
  docs/reference/files.md
  docs/using.md
Due: markdownlint

refactor(resolver): add *_all() functions for multiple version resolution
  src/fromager/bootstrapper.py
  src/fromager/requirement_resolver.py
  src/fromager/resolver.py
  src/fromager/sources.py
  src/fromager/wheels.py
  tests/test_requirement_resolver.py
  tests/test_sources.py
Due: hatch-mypy

chore(gitignore): use GitHub Python template as base
  .gitignore
Due: none

fix(e2e): pin setuptools-scm<10 to fix circular bootstrap dependency
  e2e/constraints.txt
Due: none

fix(bootstrapper): drop extras from _resolved_key to prevent re-entrant bootstrap failure
  src/fromager/bootstrapper.py
  tests/test_bootstrapper.py
Due: hatch-mypy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  hatch-mypy: any of: \.py$
  mergify-lint: any of: ^\.mergify\.yml$
