Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

markdownlint:
  name: markdownlint
  entry: python scripts/conditional_hook.py markdownlint-cli2
  args:
  - --fix
  language: system
  require_serial: true
  verbose: true

hatch-mypy:
  name: hatch mypy check
  entry: hatch run mypy:check
  language: system
  pass_filenames: false

mergify-lint:
  name: mergify lint
  entry: hatch run lint:mergify
  language: system
  pass_filenames: false

feat(wheels): add configurable build tag hook for wheel filenames
  docs/customization.md
  docs/reference/config-reference.rst
  src/fromager/bootstrapper/_cache.py
  src/fromager/commands/build.py
  src/fromager/finders.py
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_settings.py
  src/fromager/wheels.py
  tests/test_finders.py
  tests/test_packagesettings.py
  tests/test_wheels.py
Due: markdownlint, hatch-mypy

fix(resolver): suppress cooldown warning for localhost indexes
  src/fromager/resolver.py
  tests/test_cooldown.py
Due: hatch-mypy

fix(resolver): warn when cooldown blocks versions
  src/fromager/resolver.py
Due: hatch-mypy

feat(sources): replace download tuple with DownloadedSource dataclass
  docs/concepts/hooks-and-overrides.rst
  docs/concepts/resolver-architecture.rst
  docs/reference/config-reference.rst
  docs/reference/hooks.rst
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/bootstrapper/_prepare_source.py
  src/fromager/commands/build.py
  src/fromager/commands/step.py
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_resolver.py
  src/fromager/sources.py
  tests/test_bootstrapper.py
  tests/test_commands.py
  tests/test_packagesettings_resolver.py
  tests/test_sources.py
Due: hatch-mypy

AIPCC-31724: Add airgapped prefetch bundles
  docs/concepts/architecture-overview.rst
  docs/concepts/bootstrap-vs-build.rst
  docs/reference/files.md
  docs/using.md
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/bootstrapper/_build.py
  src/fromager/bootstrapper/_prepare_source.py
  src/fromager/bootstrapper/_process_install_deps.py
  src/fromager/bootstrapper/_work_item.py
  src/fromager/build_environment.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/build.py
  src/fromager/context.py
  src/fromager/finders.py
  src/fromager/packagesettings/_settings.py
  src/fromager/prefetch.py
  src/fromager/sources.py
  src/fromager/tarballs.py
  src/fromager/vendor_rust.py
  tests/test_bootstrap.py
  tests/test_bootstrapper.py
  tests/test_bootstrapper_iterative.py
  tests/test_build_environment.py
  tests/test_commands.py
  tests/test_finders.py
  tests/test_prefetch.py
  tests/test_sources.py
  tests/test_vendor_rust.py
Due: markdownlint, hatch-mypy

fix(bootstrap): AIPCC-29282 remove dead cache-server fallback
  docs/concepts/resolver-architecture.rst
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper/_bootstrapper.py
  tests/test_bootstrap_requirement_resolver.py
Due: hatch-mypy

test(bootstrapper): prevent unintended background downloads
  tests/test_bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

fix(context): handle concurrent directory creation
  src/fromager/context.py
  tests/test_context.py
Due: hatch-mypy

fix(sources): use correct top-level directory name in sdists
  src/fromager/sources.py
  src/fromager/tarballs.py
  tests/test_sources.py
  tests/test_tarballs.py
Due: hatch-mypy

feat(wheels): separate cache wheel resolution from pre-built path
  src/fromager/commands/build.py
  src/fromager/commands/download_sequence.py
  src/fromager/wheels.py
  tests/test_cooldown.py
Due: hatch-mypy

feat(wheels): add configurable build tag hook for wheel filenames
  docs/concepts/hooks-and-overrides.rst
  docs/customization.md
  docs/reference/config-reference.rst
  src/fromager/bootstrapper/_cache.py
  src/fromager/commands/build.py
  src/fromager/finders.py
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_settings.py
  src/fromager/wheels.py
  tests/test_bootstrapper.py
  tests/test_cooldown.py
  tests/test_finders.py
  tests/test_packagesettings.py
  tests/test_wheels.py
Due: markdownlint, hatch-mypy

fix(dependencies): use the sdist requirements hook
  src/fromager/dependencies.py
  tests/test_dependencies.py
Due: hatch-mypy

fix(sbom): validate CycloneDX data before merging into SPDX
  src/fromager/sbom.py
  tests/test_sbom.py
Due: hatch-mypy

fix(bootstrap): Remove dead cache-server fallback
  docs/concepts/resolver-architecture.rst
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper/_bootstrapper.py
  tests/test_bootstrap_requirement_resolver.py
Due: hatch-mypy

fix(resolver): log wheel-only candidate skips at INFO
  src/fromager/resolver.py
  tests/test_resolver.py
Due: hatch-mypy

fix(deps): read pyproject.toml with tomllib instead of tomlkit
  src/fromager/dependencies.py
  tests/test_dependencies.py
Due: hatch-mypy

fix(build): reuse pre-built wheels that carry a build number
  src/fromager/commands/build.py
  tests/test_cooldown.py
Due: hatch-mypy

docs(proposals): add offline build-parallel proposal
  docs/proposals/offline-build-parallel.md
Due: markdownlint

test(bootstrapper): mock index lookups consistently
  tests/test_bootstrapper.py
Due: hatch-mypy

test: fail on unexpected network access
  CONTRIBUTING.md
  pyproject.toml
  tests/conftest.py
Due: markdownlint, hatch-mypy

fix(sources): log PKG-INFO stub creation at INFO
  src/fromager/sources.py
Due: hatch-mypy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  hatch-mypy: any of: \.py$
  mergify-lint: any of: ^\.mergify\.yml$
