Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

markdownlint:
  name: markdownlint
  entry: python scripts/conditional_hook.py markdownlint-cli2
  args:
  - --fix
  language: system
  require_serial: true
  verbose: true

hatch-mypy:
  name: hatch mypy check
  entry: hatch run mypy:check
  language: system
  pass_filenames: false

mergify-lint:
  name: mergify lint
  entry: hatch run lint:mergify
  language: system
  pass_filenames: false

fix(output): standardize --output to work for all formats
  src/fromager/clickext.py
  src/fromager/commands/list_overrides.py
  src/fromager/commands/package.py
  tests/test_list_overrides.py
  tests/test_list_versions.py
Due: hatch-mypy

feat(constraints): add per-constraint provenance tracking
  src/fromager/constraints.py
  src/fromager/resolver.py
  tests/test_constraints.py
  tests/test_context.py
Due: hatch-mypy

fix(resolver): cache known versions by package name
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper.py
  tests/test_bootstrap_requirement_resolver.py
Due: hatch-mypy

plan: background tasks
  docs/proposals/background-tasks.md
Due: markdownlint

feat(bootstrap): parallelize RESOLVE and PREPARE_SOURCE I/O with background threads
  docs/proposals/background-tasks.md
  src/fromager/bootstrapper.py
  src/fromager/commands/bootstrap.py
  tests/test_bootstrapper_iterative.py
Due: markdownlint, hatch-mypy

fix(tests): fix test failures and pytest e2e directory discovery
  pyproject.toml
  src/fromager/commands/bootstrap.py
  tests/test_bootstrap_test_mode.py
Due: hatch-mypy

fix(bootstrapper): log start of background tasks; drop redundant req from messages
  e2e/test_bootstrap_build_tags.sh
  src/fromager/bootstrapper.py
Due: hatch-mypy

fix(bootstrapper): wrap ZipFile in context manager to prevent fd leaks
  src/fromager/bootstrapper.py
Due: hatch-mypy

fix(bootstrap): check cache before git URL guard in resolver
  src/fromager/bootstrap_requirement_resolver.py
Due: hatch-mypy

refactor(bootstrapper): centralise log context setup in _get_background_work
  src/fromager/bootstrapper.py
  tests/test_bootstrapper.py
Due: hatch-mypy

fix(bootstrapper): set requirement context in background task functions
  src/fromager/bootstrapper.py
Due: hatch-mypy

refactor(bootstrapper): drop _standalone suffix from module-level helpers
  src/fromager/bootstrapper.py
Due: hatch-mypy

fix(bootstrapper): skip already-failed versions in `_phase_resolve()`
  src/fromager/bootstrapper.py
  tests/test_bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

fix(bootstrapper): reuse build-system dep versions for build-backend/sdist
  src/fromager/bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

refactor(bootstrapper): simplify top-level requirement interface
  src/fromager/bootstrapper.py
  src/fromager/commands/bootstrap.py
  tests/test_bootstrap.py
  tests/test_bootstrap_test_mode.py
  tests/test_bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

feat(wheels): add configurable build tag hook for wheel filenames
  src/fromager/bootstrapper.py
  src/fromager/commands/build.py
  src/fromager/finders.py
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_settings.py
  src/fromager/wheels.py
  tests/test_finders.py
  tests/test_packagesettings.py
  tests/test_wheels.py
Due: hatch-mypy

build(test): add pytest-xdist for parallel test execution
  pyproject.toml
Due: none

build(test): add pytest-cov for xdist-compatible coverage
  pyproject.toml
Due: none

feat(gitutils): add `parse_vcs_url` for pip VCS URL parsing
  src/fromager/bootstrapper.py
  src/fromager/gitutils.py
  src/fromager/sources.py
  tests/test_bootstrap.py
  tests/test_gitutils.py
  tests/test_sources.py
Due: hatch-mypy

refactor(resolver): check source config before plugin lookup
  src/fromager/packagesettings/_models.py
  src/fromager/resolver.py
  src/fromager/sources.py
  tests/test_source_resolver_wiring.py
Due: hatch-mypy

feat(resolver): add `versionmap-git` source resolver
  docs/reference/config-reference.rst
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_resolver.py
  tests/test_packagesettings_resolver.py
  tests/test_resolver.py
Due: hatch-mypy

feat(cache): add unified CacheManager subsystem with remote PEP 503 support
  pyproject.toml
  src/fromager/bootstrapper.py
  src/fromager/cache.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/cache_cmd.py
  src/fromager/context.py
  src/fromager/requirements_file.py
  tests/test_bootstrapper_iterative.py
  tests/test_cache.py
Due: hatch-mypy

fix(cache): use atomic file operations for concurrency safety
  src/fromager/cache.py
Due: hatch-mypy

fix(cache): harden remote fetch with atomic writes and graceful fallback
  src/fromager/cache.py
Due: hatch-mypy

feat(cache): route built wheels to variant or shared collection
  src/fromager/bootstrapper.py
  src/fromager/cache.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/cache_cmd.py
  tests/test_bootstrapper_iterative.py
  tests/test_cache.py
Due: hatch-mypy

fix(cache): address review feedback on security and correctness
  src/fromager/bootstrapper.py
  src/fromager/cache.py
  src/fromager/commands/cache_cmd.py
  tests/test_bootstrapper_iterative.py
  tests/test_cache.py
Due: hatch-mypy

fix(cache): address review round 4 and fix test_registered_eps
  src/fromager/cache.py
  src/fromager/commands/cache_cmd.py
  tests/test_cache.py
  tests/test_cli.py
Due: hatch-mypy

fix(ci): set COVERAGE_FILE so unit coverage uploads correctly
  .github/workflows/test.yaml
  pyproject.toml
Due: none

fix(cache): use urlparse for case-insensitive HTTP scheme check
  src/fromager/cache.py
  tests/test_commands.py
Due: hatch-mypy

feat(cache): add --cache-allow-insecure flag for HTTP registries without hashes
  src/fromager/cache.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/cache_cmd.py
  tests/test_commands.py
Due: hatch-mypy

feat(bootstrap): parallelize RESOLVE and PREPARE_SOURCE I/O with background threads
  .gitignore
  e2e/test_bootstrap_build_tags.sh
  e2e/test_bootstrap_cache.sh
  e2e/test_bootstrap_cooldown_prebuilt.sh
  e2e/test_bootstrap_prerelease.sh
  pyproject.toml
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/lint_requirements.py
  src/fromager/resolver.py
  tests/test_bootstrap.py
  tests/test_bootstrap_test_mode.py
  tests/test_bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

docs: update agents file with info about e2e tests
  AGENTS.md
Due: markdownlint

feat(packagesettings): add dependency-chained build tags
  docs/how-tos/dependency-build-tags.rst
  docs/how-tos/index.rst
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  tests/test_packagesettings.py
  tests/testdata/context/overrides/settings/test_circular_a.yaml
  tests/testdata/context/overrides/settings/test_circular_b.yaml
  tests/testdata/context/overrides/settings/test_dep_chain_a.yaml
  tests/testdata/context/overrides/settings/test_dep_chain_b.yaml
  tests/testdata/context/overrides/settings/test_dep_chain_c.yaml
  tests/testdata/context/overrides/settings/test_fake_cuda.yaml
Due: hatch-mypy

fix(candidate): use exact dist-info path in `get_metadata_for_wheel()`
  src/fromager/candidate.py
  src/fromager/dependencies.py
  src/fromager/wheels.py
  tests/test_pep658_support.py
Due: hatch-mypy

docs: add sandboxing API proposal
  docs/proposals/sandboxing-api.md
  docs/proposals/sandboxing_api.py
  docs/spelling_wordlist.txt
Due: markdownlint, hatch-mypy

refactor(test): rename test_graph_validate.py to test_graph_check.py
  tests/test_graph_check.py
Due: hatch-mypy

feat(graph): add `graph check` command for pre-rebuild conflict detection
  src/fromager/commands/graph.py
  tests/test_graph_validate.py
Due: hatch-mypy

fix(graph): make --json/--constraints mutually exclusive, avoid double file read
  src/fromager/commands/graph.py
  tests/test_graph_validate.py
Due: hatch-mypy

docs(proposals): add ADR to deprecate PEP 508 direct references (req.url)
  docs/proposals/deprecate-req-url.md
Due: markdownlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  hatch-mypy: any of: \.py$
  mergify-lint: any of: ^\.mergify\.yml$
