Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

markdownlint:
  name: markdownlint
  entry: python scripts/conditional_hook.py markdownlint-cli2
  args:
  - --fix
  language: system
  require_serial: true
  verbose: true

hatch-mypy:
  name: hatch mypy check
  entry: hatch run mypy:check
  language: system
  pass_filenames: false

mergify-lint:
  name: mergify lint
  entry: hatch run lint:mergify
  language: system
  pass_filenames: false

fix(bootstrapper): create working_src_dir.parent before shutil.move in git clone flow
  src/fromager/bootstrapper/_bootstrapper.py
  tests/test_bootstrap.py
Due: hatch-mypy

test(bootstrapper): assert update_wheel_mirror is called in _build_wheel test
  tests/test_bootstrapper.py
Due: hatch-mypy

feat(resolver): add download method to all resolver classes
  docs/reference/config-reference.rst
  src/fromager/packagesettings/_resolver.py
  tests/test_packagesettings_resolver.py
Due: hatch-mypy

feat(resolver): add `LegacyResolver` for legacy resolution and download
  docs/proposals/new-resolver-config.md
  docs/reference/config-reference.rst
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_resolver.py
  tests/test_packagesettings_resolver.py
Due: markdownlint, hatch-mypy

fix(downloads): accept wheels whose dist-info omits the local version segment
  src/fromager/downloads.py
  tests/test_downloads.py
Due: hatch-mypy

feat(cache): add unified CacheManager subsystem
  pyproject.toml
  src/fromager/bootstrapper.py
  src/fromager/cache.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/cache_cmd.py
  src/fromager/context.py
  src/fromager/requirements_file.py
  tests/test_bootstrapper_iterative.py
  tests/test_cache.py
  tests/test_cli.py
  tests/test_commands.py
Due: hatch-mypy

docs(proposals): add ADR for unified cache manager
  docs/proposals/unified-cache-manager.rst
Due: none

fix(candidate): use exact dist-info path in `get_metadata_for_wheel()`
  src/fromager/candidate.py
  src/fromager/dependencies.py
  src/fromager/pkgmetadata/__init__.py
  src/fromager/pkgmetadata/pep376.py
  src/fromager/wheels.py
  tests/test_pep658_support.py
Due: hatch-mypy

Include dependency chain in resolution error messages (#1214)
  src/fromager/bootstrapper/_bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

feat(graph): add --dependencies-only flag to graph subset command
  src/fromager/commands/graph.py
  tests/test_commands_graph.py
Due: hatch-mypy

feat(graph): add --dependents-only flag to graph subset command
  src/fromager/commands/graph.py
  tests/test_commands_graph.py
Due: hatch-mypy

docs: add architecture overview docs
  AGENTS.md
  docs/concepts/architecture-overview.rst
  docs/concepts/bootstrapper-architecture.rst
  docs/concepts/hooks-and-overrides.rst
  docs/concepts/index.rst
  docs/concepts/package-settings.rst
  docs/concepts/resolver-architecture.rst
Due: markdownlint

docs(proposals): add proposal to deprecate PEP 508 direct references (req.url)
  docs/proposals/deprecate-req-url.md
Due: markdownlint

refactor(bootstrapper): apply review follow-ups to _cache module
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/bootstrapper/_cache.py
  src/fromager/bootstrapper/_prepare_source.py
  src/fromager/bootstrapper/_resolve.py
  tests/test_bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

perf(bootstrapper): reduce disk I/O with throttled stack writes, async graph writes, deferred build-order write
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/context.py
  tests/test_bootstrapper.py
  tests/test_context.py
Due: hatch-mypy

docs(bootstrapper): fix docstrings and add test for write-error logging
  src/fromager/bootstrapper/_bootstrapper.py
  tests/test_bootstrapper.py
Due: hatch-mypy

refactor: remove deprecated `req.url` (build-from-URL) code paths
  docs/customization.md
  docs/example/git-submodules-example.yaml
  docs/example/requirements-git-example.txt
  docs/how-tos/build-from-git-repo.rst
  docs/how-tos/index.rst
  e2e/ci_bootstrap_parallel_suite.sh
  e2e/ci_bootstrap_suite.sh
  e2e/ci_build_suite.sh
  e2e/test_bootstrap_git_url.sh
  e2e/test_bootstrap_git_url_tag.sh
  e2e/test_bootstrap_parallel_git_url.sh
  e2e/test_bootstrap_parallel_git_url_tag.sh
  e2e/test_build_sequence_git_url.sh
  e2e/test_mode_build.sh
  e2e/test_version_env_git_url.sh
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/commands/build.py
  src/fromager/constraints.py
  src/fromager/dependency_graph.py
  src/fromager/requirements_file.py
  src/fromager/sources.py
  tests/test_bootstrap.py
  tests/test_bootstrap_requirement_resolver.py
  tests/test_bootstrapper.py
  tests/test_constraints.py
  tests/test_packagesettings.py
  tests/test_sources.py
Due: markdownlint, hatch-mypy

Deduplicate embedded cause suffix in _format_exception (#1243)
  src/fromager/__main__.py
  tests/test_external_commands.py
Due: hatch-mypy

cleanup(bootstrapper): expose `DEFAULT_BG_THREADS` as public class constant
  src/fromager/bootstrapper/__init__.py
  src/fromager/bootstrapper/_bootstrapper.py
  src/fromager/bootstrapper/_types.py
  src/fromager/commands/bootstrap.py
Due: hatch-mypy

feat: auto-cap setuptools when setup.py uses removed APIs
  src/fromager/dependencies.py
  tests/test_dependencies.py
Due: hatch-mypy

docs: add environment variable filtering proposal
  docs/proposals/filter-env.md
  docs/spelling_wordlist.txt
Due: markdownlint

docs: add sandboxing API proposal
  docs/proposals/sandboxing-api.md
  docs/proposals/sandboxing_api.py
  docs/spelling_wordlist.txt
Due: markdownlint, hatch-mypy

Apply zizmor hardening
  .github/dependabot.yml
  .github/workflows/check.yaml
  .github/workflows/codeql.yaml
  .github/workflows/python-publish.yaml
  .github/workflows/test.yaml
Due: none

refactor(build_environment): accept `sdist_root_dir` and `req` in `BuildEnvironment`
  src/fromager/bootstrapper/_prepare_source.py
  src/fromager/build_environment.py
  src/fromager/commands/step.py
  tests/test_bootstrapper_iterative.py
  tests/test_dependencies.py
  tests/test_packagesettings.py
  tests/test_wheels.py
Due: hatch-mypy

feat(build_environment): Include abiflags in path
  src/fromager/build_environment.py
Due: hatch-mypy

fix: Reformat code with Ruff 0.16.0
  docs/customization.md
  docs/http-retry.md
  docs/proposals/new-resolver-config.md
  docs/proposals/wheel-build-tag-hook.md
  src/fromager/packagesettings/_pbi.py
Due: markdownlint, hatch-mypy

feat: add get_build_system_dependencies global hook point
  src/fromager/dependencies.py
  src/fromager/hooks.py
  tests/test_dependencies.py
  tests/test_hooks.py
Due: hatch-mypy

feat(packagesettings): add `ExternalCommands` model for env filtering
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_settings.py
  tests/test_packagesettings.py
Due: hatch-mypy

docs(proposals): add global build-system dependencies hook proposal
  docs/proposals/global-build-system-dependencies-hook.md
Due: markdownlint

feat(wheels): separate cache wheel resolution from pre-built path
  src/fromager/commands/build.py
  src/fromager/commands/download_sequence.py
  src/fromager/wheels.py
  tests/test_cooldown.py
Due: hatch-mypy

feat(wheels): add configurable build tag hook for wheel filenames
  src/fromager/bootstrapper/_cache.py
  src/fromager/commands/build.py
  src/fromager/finders.py
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_settings.py
  src/fromager/wheels.py
  tests/test_finders.py
  tests/test_packagesettings.py
  tests/test_wheels.py
Due: hatch-mypy

cleanup(bootstrapper): remove unused logger from `_types.py`
  src/fromager/bootstrapper/_types.py
Due: hatch-mypy

feat(packagesettings): add `ExternalCommands` model for env filtering
  docs/proposals/filter-env.md
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_settings.py
  tests/test_packagesettings.py
Due: markdownlint, hatch-mypy

refactor(build_environment): use `self.run()` in `_createenv()`
  src/fromager/build_environment.py
Due: hatch-mypy

feat(external_commands): wire `ExternalCommands` env filtering into `run()`
  src/fromager/build_environment.py
  src/fromager/context.py
  src/fromager/dependencies.py
  src/fromager/external_commands.py
  src/fromager/wheels.py
  tests/test_external_commands.py
Due: hatch-mypy

fix(downloads): set 0o644 permissions on downloaded files
  src/fromager/downloads.py
  tests/test_downloads.py
Due: hatch-mypy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  hatch-mypy: any of: \.py$
  mergify-lint: any of: ^\.mergify\.yml$
