Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

markdownlint:
  name: markdownlint
  entry: python scripts/conditional_hook.py markdownlint-cli2
  args:
  - --fix
  language: system
  require_serial: true
  verbose: true

hatch-mypy:
  name: hatch mypy check
  entry: hatch run mypy:check
  language: system
  pass_filenames: false

mergify-lint:
  name: mergify lint
  entry: hatch run lint:mergify
  language: system
  pass_filenames: false

revert(e2e): remove setuptools-scm<10 constraint
  e2e/constraints.txt
Due: none

feat: add minimal SPDX 2.3 SBOM generation
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  src/fromager/packagesettings/_settings.py
  src/fromager/sbom.py
  src/fromager/wheels.py
  tests/test_packagesettings.py
  tests/test_sbom.py
  tests/test_wheels.py
Due: hatch-mypy

feat: log existing SBOM files found in wheels
  src/fromager/wheels.py
  tests/test_wheels.py
Due: hatch-mypy

feat(resolver): add VersionMapProvider for custom version resolution
  src/fromager/resolver.py
  src/fromager/versionmap.py
  tests/test_resolver.py
  tests/test_versionmap.py
Due: hatch-mypy

docs: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

test(e2e): add test-mode failure handling tests
  e2e/ci_bootstrap_suite.sh
  e2e/test_build_failure/pyproject.toml
  e2e/test_build_failure/setup.py
  e2e/test_build_failure/test_build_failure/__init__.py
  e2e/test_mode_build.sh
  e2e/test_mode_deps.sh
  e2e/test_mode_fallback.sh
  e2e/test_mode_resolution.sh
Due: hatch-mypy

[proposal] New patcher config
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-patcher-config.md
Due: markdownlint

[proposal] New resolver configuration
  docs/index.rst
  docs/proposals/index.rst
  docs/proposals/new-resolver-config.md
Due: markdownlint

feat: add override_download_url to resolvers
  src/fromager/resolver.py
  tests/test_resolver.py
Due: hatch-mypy

chore: add CodeRabbit configuration for AI-assisted code review
  .coderabbit.yaml
Due: none

feat(resolver): add PyPI cooldown policy to reject recently-published versions
  docs/how-tos/index.rst
  docs/how-tos/pypi-cooldown.rst
  src/fromager/__main__.py
  src/fromager/context.py
  src/fromager/resolver.py
  tests/test_cooldown.py
Due: hatch-mypy

test: add option to run tests with network access
  .github/workflows/test.yaml
  pyproject.toml
  tests/conftest.py
  tests/test_gitutils.py
Due: hatch-mypy

refactor(resolver): use provider pattern directly in resolution layer
  src/fromager/bootstrapper.py
  src/fromager/requirement_resolver.py
  src/fromager/resolver.py
  src/fromager/sources.py
  src/fromager/wheels.py
  tests/test_requirement_resolver.py
  tests/test_sources.py
Due: hatch-mypy

refactor: rename RequirementResolver to BootstrapRequirementResolver
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper.py
  tests/test_bootstrap_requirement_resolver.py
Due: hatch-mypy

refactor(versionmap): tighten API per #986
  src/fromager/resolver.py
  src/fromager/versionmap.py
  tests/test_resolver.py
  tests/test_versionmap.py
Due: hatch-mypy

feat(graph): add `graph check` command for pre-rebuild conflict detection
  src/fromager/commands/graph.py
  tests/test_graph_validate.py
Due: hatch-mypy

feat(resolver): add PyPI cooldown policy to reject recently-published versions
  docs/how-tos/index.rst
  docs/how-tos/pypi-cooldown.rst
  e2e/ci_bootstrap_suite.sh
  e2e/test_bootstrap_cooldown.sh
  e2e/test_bootstrap_cooldown_constraint_conflict.sh
  e2e/test_bootstrap_cooldown_transitive.sh
  src/fromager/__main__.py
  src/fromager/context.py
  src/fromager/resolver.py
  tests/test_cooldown.py
Due: hatch-mypy

fix(sources): skip non-regular files in scan_compiled_extensions
  src/fromager/sources.py
Due: hatch-mypy

ci: fix mergify configuration
  .mergify.yml
Due: mergify-lint

test(metrics): add coverage for metrics timing decorator
  tests/test_metrics.py
Due: hatch-mypy

feat(sources): generate .git_archival.txt for setuptools-scm builds
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

feat(dependencies): add --no-discovery flag to prevent PEP 517 hook fallback
  src/fromager/commands/build.py
  src/fromager/context.py
  src/fromager/dependencies.py
  tests/test_dependencies.py
Due: hatch-mypy

feat(build): resolve build deps from dependency graph instead of PEP 517 hooks
  docs/how-tos/bootstrap-constraints.rst
  docs/using.md
  e2e/test_build_order.sh
  e2e/test_build_sequence_git_url.sh
  e2e/test_prebuilt_wheel_hook.sh
  src/fromager/build_environment.py
  src/fromager/commands/bootstrap.py
  src/fromager/commands/build.py
  tests/test_build_environment.py
Due: markdownlint, hatch-mypy

fix(graph): make --json/--constraints mutually exclusive, avoid double file read
  src/fromager/commands/graph.py
  tests/test_graph_validate.py
Due: hatch-mypy

refactor(test): rename test_graph_validate.py to test_graph_check.py
  tests/test_graph_check.py
Due: hatch-mypy

ci: pin GitHub Actions to full commit SHAs
  .github/workflows/check.yaml
  .github/workflows/python-publish.yaml
  .github/workflows/test.yaml
Due: none

ci: add minimal permissions to GitHub Actions workflows
  .github/workflows/check.yaml
  .github/workflows/python-publish.yaml
  .github/workflows/test.yaml
Due: none

Add a Security policy file
  SECURITY.md
Due: markdownlint

feat(graph): add pre-rebuild-check Claude Code skill
  .claude/commands/pre-rebuild-check.md
  .gitignore
Due: markdownlint

refactor(sources): use EAFP pattern instead of is_file() check
  src/fromager/sources.py
Due: hatch-mypy

fix(graph): coderabbit review fix
  .claude/commands/pre-rebuild-check.md
Due: markdownlint

fix(graph): fix mdformat lint
  .claude/commands/pre-rebuild-check.md
Due: markdownlint

feat: add minimal SPDX 2.3 SBOM generation
  docs/reference/config-reference.rst
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_pbi.py
  src/fromager/packagesettings/_settings.py
  src/fromager/sbom.py
  src/fromager/wheels.py
  tests/conftest.py
  tests/test_packagesettings.py
  tests/test_sbom.py
  tests/test_wheels.py
Due: hatch-mypy

docs(agents): reduce duplication and add concise writing guidance
  AGENTS.md
Due: markdownlint

docs: remove deprecated resolve_source hook
  docs/customization.md
  docs/reference/hooks.rst
  pyproject.toml
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/commands/list_overrides.py
  src/fromager/resolver.py
  src/fromager/sources.py
  src/fromager/wheels.py
  tests/test_bootstrap_requirement_resolver.py
  tests/test_resolver.py
  tests/test_sources.py
Due: markdownlint, hatch-mypy

ci: add OpenSSF Scorecard workflow
  .github/workflows/scorecard.yaml
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  hatch-mypy: any of: \.py$
  mergify-lint: any of: ^\.mergify\.yml$
