Repository python-wheel-build/fromager: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, hatch-mypy, mergify-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-toml

  - repo: https://github.com/mgedmin/check-python-versions
    rev: "0.24.0"
    hooks:
      - id: check-python-versions
        args: ["--only", "pyproject.toml,.github/workflows/test.yaml"]

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.2.1
    hooks:
      - id: editorconfig-checker
        alias: ec
        # Exclude files that are auto-generated or strictly formatted elsewhere
        exclude: |
          (?x)^(
              LICENSE|
              .*\.lock|
              dist/.*
          )$

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: python scripts/conditional_hook.py markdownlint-cli2
        args: ["--fix"]
        language: system
        types: [markdown]
        require_serial: true
        verbose: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      # Linter runs before formatter so fixes (like removing imports) get formatted
      - id: ruff-check
        args: [--fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: local
    hooks:
      - id: hatch-mypy
        name: hatch mypy check
        entry: hatch run mypy:check
        language: system
        types: [python]
        pass_filenames: false

      - id: mergify-lint
        name: mergify lint
        entry: hatch run lint:mergify
        language: system
        files: ^\.mergify\.yml$
        pass_filenames: false

fix(sources): catch FileNotFoundError for broken symlinks
  src/fromager/sources.py
  tests/test_sources.py
Due: hatch-mypy

fix(finders): filter find_wheel glob to .whl files only
  src/fromager/finders.py
  tests/test_finders.py
Due: hatch-mypy

fix(e2e): chain on_exit in constraint test EXIT traps
  e2e/test_bootstrap_conflicting_requirements.sh
  e2e/test_bootstrap_constraints.sh
  e2e/test_bootstrap_multiple_versions.sh
Due: none

fix(deps): drop requests-mock from runtime deps
  pyproject.toml
Due: none

test(unit): mark PyPI-backed tests as network
  tests/test_dependencies.py
Due: hatch-mypy

fix(resolver): cache empty candidate lists and return defensive copies
  src/fromager/resolver.py
  tests/test_resolver.py
Due: hatch-mypy

feat(bootstrap): add --max-release-age for multiple-versions mode
  e2e/ci_bootstrap_suite.sh
  e2e/test_bootstrap_max_release_age.sh
  e2e/test_bootstrap_multiple_versions.sh
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/commands/bootstrap.py
  src/fromager/context.py
  src/fromager/resolver.py
  src/fromager/sources.py
  tests/test_bootstrap.py
  tests/test_cooldown.py
Due: hatch-mypy

docs(proposal): add build isolation design for sandboxed builds
  docs/proposals/build-isolation.md
  docs/proposals/index.rst
Due: markdownlint

docs: add environment variable filtering proposal
  docs/proposals/filter-env.md
  docs/proposals/index.rst
  docs/spelling_wordlist.txt
Due: markdownlint

fix(resolver): make resolution cache values immutable to prevent corruption
  src/fromager/bootstrap_requirement_resolver.py
  src/fromager/bootstrapper.py
  tests/test_bootstrap_requirement_resolver.py
Due: hatch-mypy

docs(proposal): add iterative bootstrap proposal
  docs/proposals/index.rst
  docs/proposals/iterative-bootstrap.rst
Due: none

feat(sbom): use annotated data types in Pydantic config
  src/fromager/packagesettings/_models.py
  src/fromager/packagesettings/_typedefs.py
  src/fromager/sbom.py
  tests/test_packagesettings.py
  tests/test_sbom.py
Due: hatch-mypy

feat(cli): add option for a single output-dir and hide options
  src/fromager/__main__.py
  tests/test_cli.py
Due: hatch-mypy

feat(resolver): enforce PyPI quarantine check for all resolver types
  src/fromager/resolver.py
  src/fromager/sources.py
  tests/test_resolver.py
Due: hatch-mypy

feat(list-overrides): show per-package min_release_age in --details output
  src/fromager/commands/list_overrides.py
  tests/test_list_overrides.py
  tests/test_packagesettings.py
  tests/testdata/context/overrides/settings/test_cooldown_pkg.yaml
Due: hatch-mypy

feat(graph): add suggest-base subcommand with collection impact analysis
  src/fromager/commands/graph.py
  tests/test_graph_commands.py
Due: hatch-mypy

chore(hooks): enforce Conventional Commits with pre-commit hook
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: markdownlint

feat(project_override): add `add_dynamic_field` to project_override
  docs/customization.md
  src/fromager/packagesettings/__init__.py
  src/fromager/packagesettings/_models.py
  src/fromager/pyproject.py
  tests/test_packagesettings.py
  tests/test_pyproject.py
  tests/testdata/context/overrides/settings/test_pkg.yaml
Due: markdownlint, hatch-mypy

fix(project_override): skip build-system normalization for dynamic-only updates
  src/fromager/pyproject.py
  tests/test_pyproject.py
Due: hatch-mypy

refactor(graph): address PR review feedback on suggest-base
  src/fromager/commands/graph.py
  tests/test_graph_commands.py
Due: hatch-mypy

refactor(bootstrapper): replace recursion with trampoline for iterative execution
  pyproject.toml
  src/fromager/bootstrapper.py
  tests/test_bootstrapper.py
Due: hatch-mypy

docs: add environment variable filtering proposal
  docs/proposals/filter-env.md
  docs/spelling_wordlist.txt
Due: markdownlint

[proposal] Multiple cache wheel servers
  docs/proposals/multiple-cache-wheel-servers.md
  docs/spelling_wordlist.txt
Due: markdownlint

fix(http): fail fast on GitHub API rate limit instead of hanging
  src/fromager/http_retry.py
  tests/test_http_retry.py
Due: hatch-mypy

tests: Test token permissions from forks
  .github/workflows/test.yaml
Due: none

fix(resolver): make GitHubTagProvider server URL configurable
  e2e/common.sh
  e2e/github_override_example/mock_api/serve.py
  e2e/github_override_example/mock_api/tags.json
  e2e/github_override_example/src/package_plugins/stevedore_github.py
  e2e/test_bootstrap_cooldown_github.sh
  pyproject.toml
  src/fromager/resolver.py
  tests/test_resolver.py
Due: hatch-mypy

feat: add protocol for override hooks
  src/fromager/commands/lint.py
  src/fromager/overrides.py
  tests/test_overrides.py
Due: hatch-mypy

feat(cli): support multiple constraints files via repeated -c flag
  src/fromager/__main__.py
  src/fromager/context.py
  tests/test_cli.py
  tests/test_context.py
Due: hatch-mypy

feat: replace local index server with uv flat index
  src/fromager/build_environment.py
  src/fromager/context.py
  src/fromager/server.py
  src/fromager/wheels.py
  tests/test_dependencies.py
  tests/test_server.py
Due: hatch-mypy

feat(resolver): promote cooldown enforcement log to INFO level
  e2e/test_bootstrap_cooldown.sh
  e2e/test_bootstrap_cooldown_gitlab.sh
  e2e/test_bootstrap_cooldown_prebuilt.sh
  e2e/test_bootstrap_cooldown_transitive.sh
  src/fromager/resolver.py
Due: hatch-mypy

feat(finders): add PyPICacheProvider for cache server lookups
  src/fromager/bootstrapper.py
  src/fromager/finders.py
  tests/test_bootstrapper.py
  tests/test_finders.py
Due: hatch-mypy

docs(agents): add rules for DCO sign-off, `.test` TLD, backtick formatting, and Sphinx version directives
  AGENTS.md
Due: markdownlint

feat(resolver): add `LocalIndexProvider`
  src/fromager/finders.py
  tests/test_finders.py
Due: hatch-mypy

refactor(graph): rename suggest-base to find-common-dependencies
  src/fromager/commands/graph.py
  tests/test_graph_commands.py
Due: hatch-mypy

feat(bootstrapper): skip already-cached versions in multiple_versions mode
  src/fromager/bootstrapper.py
  tests/test_bootstrapper_iterative.py
Due: hatch-mypy

feat(wheels): separate cache wheel resolution from pre-built path
  src/fromager/commands/build.py
  src/fromager/commands/download_sequence.py
  src/fromager/wheels.py
  tests/test_cooldown.py
Due: hatch-mypy

fix(sources): PEP 625 sdist name by default
  src/fromager/sources.py
Due: hatch-mypy

refactor(versionmap): tighten API per #986
  src/fromager/resolver.py
  src/fromager/versionmap.py
  tests/test_resolver.py
  tests/test_versionmap.py
Due: hatch-mypy
